@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

 }
:root{
    --bacground-color-img:rgb(238, 196, 155);
    --bacground-color-hover:aliceblue;
    --bacground-color-blackCart: rgba(21, 20, 20, 0.49);
    --bacground-body:rgb(186, 169, 184);
    --color-text: black;
    --bx-plus: rgb(53, 53, 53);
    --bacground-color-price-stock: rgba(255, 56, 56, 0.971);
    --heidth-header: 80px;
    --color-letter: rgba(0, 0, 0, 0.618);
    --background-products: #fff;
    --background-color-car-btn: rgba(78, 189, 191, 0.463);
    --bacground-color-hero:rgb(240, 84, 84);
    --font-family-popUp: 'Roboto', sans-serif ;
    --z-header: 1;
    --box-shadow:  rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

 body{
  
    background-color:var(--bacground-body);
    
 }
 html{
   scroll-behavior: smooth;
 }


 img{
    width: 100%;
    display: block;
    
 }
/*.............................................................scroll*/
 body::-webkit-scrollbar {
   width: 10px;     /* Tamaño del scroll en vertical */
   height: 10px;    /* Tamaño del scroll en horizontal */
   
}
body::-webkit-scrollbar-thumb {
   background: var(--bacground-color-price-stock);
   border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
   background: var(--bacground-color-blackCart);
   box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
   background-color: #999999;
}
/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
   background: #e1e1e1;
   border-radius: 4px;
}



 /*..................................................header*/
 header{
    height: var(--heidth-header);
    background-color:var(--bacground-color-hover);
    position: fixed;
    width: 100%;
    left: 0;
    display: flex;
    top: 0;
    z-index: var( --z-header);
    box-shadow: var(--box-shadow);
 }

 header > nav{
    max-width: 1400px;
   
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    position: relative;
 }

 
 header > nav > i {
    color: var(--bacground-color-hover);
    background-color: var(--bx-plus);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    padding:1rem;
  
    
    
 }
 header > nav > i:hover{
   background-color: rgb(95, 128, 133);
   color: var(--color-text);
 }

 .amount__products{
   width: 23px;
   height: 23px;
   font-size: 0.8rem;
   color: black;

   border-radius: 50%;
   background-color: #f28080;;
   display: inline-block; /*esto se agrega porque es un span*/;
   
   display: flex;
   justify-content: center;
   align-items: center;
   user-select: none;
   position: absolute;
   right: 15px;
   top: 0.8rem;
 }


 
 .nav_logo {
  display: flex;
  
  
 }
.nav_logo-icon{
   width: 3rem;
   
}
.nav_logo h3{
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: normal;
   text-decoration: dashed;
   font-weight: 500;
}


.nav__link{
   width: 80%;
   display: flex;
   gap: 1rem;
   
 }
.nav__link a{
   text-decoration: none;
   font-weight: 500;
   font-size: 1.3rem;
   color: var(--color-letter);
   font-weight: 500;
}

   
 

 /*.....................................................filterButtons;*/
 .section__filter{
   padding:  2rem;
 }
 .container__filter{
   
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   
  
  
 }
 .container__filter .btn{
   width: 9.5rem;
   height: 4rem;
   border: none;
   border-radius: 0.5rem;
   font-family: 'Roboto', sans-serif;
   cursor: pointer;
   
   font-size: 1.5rem;
   letter-spacing: 2px;
   color: var(--bacground-color-hover);
   background-color: var(--bacground-color-blackCart);
  
  font-weight: 500;
  text-transform: capitalize;
  transition: background-color 0.5s;
   
 }


 .container__filter .btn:hover{
   background-color: var(--bacground-color-hero);
   box-shadow: var(--box-shadow);
 }
 /*.....................................................hero*/
 .container_living{
   background-color: var(--bacground-color-hover);
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .content__hero{
   width: 1400px;
   height: 100vh;
   padding-bottom: 10rem;
   display: grid;
   top: 0;
   grid-template-columns: 1fr 0.6fr ;
   gap: 1rem;

   
   

 }
 .hero__img{
   background-color: var(--bacground-color-hero);
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: center;
   align-items: center;
   border-radius: 0.5rem;
   grid-column: 2/3;
   box-shadow: var(--box-shadow);
   min-height: 400px;
  
 }
 .img__hero{
   width: 100%;
   display: block;
 }

 
 .hero__info{
   display: flex;
   flex-direction: column;
   justify-content: center;
   left: 0;
   grid-row: 1/2;
   padding: 0 2rem;
   
   
  
 }
 .hero__info h2{
      padding: 1rem;
      font-size: 4rem;
      font-weight: bold;
    

 }

 .hero__info p{
   color: var(--color-letter);
   font-size: 1.3rem;
   padding: 1rem;
   
 }
 .hero__info p:nth-child(3){
  color: var(--bacground-color-price-stock);
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 1px;
  padding-top: 1rem;

 }
 .button__hero{
   background-color: var(--bacground-color-blackCart);
   padding: 1.3rem;
   gap: 2rem;
   width: 30%;
   font-size: 1.5rem;
   letter-spacing: 1px;
   color: var(--color-letter);
   border: none;
   cursor: pointer;
   font-weight: 500;
   color: var(--bacground-color-hover);
   box-shadow: var(--box-shadow);
   transition: background-color 0.5s ;
   border-radius: 0.5rem;
   margin-left: 1rem;
   text-decoration: none;
 }
 .button__hero:hover{
   background-color: var(--bacground-color-hero);
 }


/*......................................................products*/
 .products{ 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr  ));
    max-width: 1024px;
    gap: 2rem;
    margin: 0 auto;
    padding-top: 3rem;
   
    background-color:var(--background-products);
    padding:2rem  4rem;
    border-radius: 1rem;
    
 }
 

 .product{
   
   background-color: var(--bacground-color-img);
   border-radius: 1rem;
   overflow: hidden;
   box-shadow:var(--box-shadow)
   
   
 }


 
 .product__img{
    padding: 1rem;
    transition: background-color 0.5s;
    cursor: pointer;
 }

 .product__img:hover{
    background-color: var(--bacground-color-hover);
 } 

 .product__info{
    background-color: aliceblue;;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    height: 126.4px;
    position: relative;
    justify-content: space-between;
   
    
   
 }
 .product__info h6{
   color: transparent;
 }


 .product__info .soldOut{
   background-color: rgba(255, 0, 0, 0.445);
   display: inline-block;
   color: black;
   padding: 0.5rem 1rem;
   border-radius: 0.5rem;
   user-select: none
 };




 .product__info h4{
    font-weight: bold;
    text-align: start;
    min-height: 90px;
    font-size: 1.3rem;
    color: var(--color-letter);
    cursor: pointer;
    transition: color 0.5s;
   
   
   
 }

 .product__info h4:hover{
   color: var(--bacground-color-price-stock);
   cursor: pointer;
 }

 .product__info  span{
  color: var(--color-letter);
   font-weight: normal;
   font-size: 1rem;
   
  

}

 .product__info h5{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bacground-color-price-stock);
    font-weight: bold;
    font-size: 2rem;
    
    
 }
 

 .product__info .bx-plus{
    background-color:var(--bx-plus);
    border-radius: 50%;
    color: var(--bacground-color-hover);
    padding: 0.5rem;
    font-size: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.20);
    cursor: pointer;
    position: absolute;
    top: -1rem;
    right: 1.5rem;
    
 }

/*.....................................................carts */




.cart{
    height: calc(80vh - var(--heidth-header));
    width: 450px;
    position: fixed;
    top: var(--heidth-header);
    display: flex;
    flex-direction: column;
    
    padding-right: 0;
    right: -100%;
    transition: right 0.5s;
   
    
}

.cart__show{
    right: 0;
    
}

.cart__products{
    height: 85%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
   
    gap: 1rem;
    background-color:var(--bacground-color-blackCart);
    
   
    
}

.cart__product{
   background-color: var(--bacground-color-hover);
   padding: 1rem;
   display: flex;
   align-self: center;
   border-radius: 1rem;
   
   
}
.cart__product--img{
   width: 45%;
  
}
.cart__product--body  {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 65%;
 
}
.cart__product--body h4{
   color: var(--color-letter);
   text-align: start;
   font-size: 1.2rem;
}
.cart__product--body span:nth-child(1){
   font-size: 2rem;
   font-weight: bold;
   color: var(--bacground-color-price-stock);
}
.cart__product--body-op{
   
   font-size: 1.2rem;
   display: flex;
   gap: 1rem;
}
.cart__product--body-op i{
   cursor: pointer;
}

.cart__product--body-op i:nth-child(4){
  
   color: red;
}

.cart__total{
  
    background-color: var(--bx-plus);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 0rem;
    height: 20%;
    width: 100%;  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    gap: 0.5rem;
}

.cart__total--info{
  color: var(--bacground-color-hover);
  padding: 0.3rem;
  width: 90%;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  
}

.btn__buy{
   padding: 0.8rem;
   font-size: 1.3rem;
   width: 80%;
   border-radius: 1rem;
   cursor: pointer;
   font-family: 'Asap', sans-serif;
   font-weight: bold;
   transition: background-color 0.5s, color 0.5s;
   background-color: rgb(123, 197, 102);

}
.btn__buy:hover{
   background-color: rgba(72, 191, 39, 0.626);
   color: white;
   
}
/*......................................................load*/
.overlay{
   background-color: rgba(0, 0, 0, .3);
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: var(--z-header);
   display: flex;
   align-items: center;
   justify-content: center;
   visibility: hidden;
}
.overlay_active{
   visibility: visible;

   
}
.popup{
   background-color: var(--bacground-color-hover);
   box-shadow: var(--box-shadow);
   border: 1rem;
   font-family: var(--font-family-popUp);
   width: 450px;
   min-height: 60%;
   border-radius: 1rem;
}

.btn-close-popup{
   padding: 1rem;
   font-size: 2rem;
   display: block;
   text-align: right;
   color: var(--color-letter);
   transition: color 0.3s;
}
.btn-close-popup:hover{
   color: var(--bacground-color-price-stock);
}
/*........................................................popUo*/
 



 .load{
   height: 100%;
   width: 100%;
   background-color:var(--bacground-color-hover);
   position: fixed;
   left: 0;
   top: 0;
   z-index: var(--z-header);
   display: flex;
   justify-content: center;
   align-items: center;

   opacity: 1;
   visibility: visible;
   transition: opacity 1s, visibility 1s;
 }
 .load__gif {
   width: 9rem;
   animation: animationLoading 1.5s infinite;
   fill: var(--bacground-color-price-stock);
 
 }
 .load__none{
   opacity: 0;
   visibility: hidden;
 }
 path:nth-child(1){
   fill: var(--bacground-color-price-stock);
   
   animation:  animationRotate 1.5s infinite;
   
   
 }
 @keyframes animationLoading{
   
   0%{
         transform: translateY(-10px);
   }

   50%{
      transform: translate(0);
   }

   100%{
      transform: translateY(-10px);
   }
 }

 .popup__img{
   display: block;
   width: 100%;
}
   
 
 
 /*..................................................footer*/

 footer{
   width: 100%;
   background-color:var(--bacground-color-blackCart);
   display: flex;
   flex-direction: column;
   margin-top: 8rem;
   font-size: 1.3rem;
   gap: 1rem;
   
 
   
 }
 .content__footer{
   padding: 6rem 2rem;
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 10rem;
  
  
   
   
 }
  .repository{
   display: flex;
   margin: 4rem;
   margin-top: 0;
   background-color: var(--bacground-color-hero);
   justify-content: center;
   padding: 1rem;
   
}
.name{
   display: flex;
   gap: 1rem;
}
.name h3{
   text-decoration: none;
   font-weight: 600;
   font-size: 1.3rem;
}
 .content__info{
   display: flex;
  flex-direction: column;
  
 }
 .content__info h3{
   padding: 1rem 0;
 }
 .content__info ul{
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 0.8rem;
  

   
 }
 .content__info a{
   text-decoration: none;
   color: var(--color-letter);
   transition:  color 0.5s;
 }
 .content__info a:hover{
   color: black;
 }
.fa-brands{
   font-size: 1.8rem;
}

@media (max-width: 500px) {
    .cart {
        width: 90%;
    }
    
   .container__filter{
      margin: auto;
      max-width: 700px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      user-select: none;
      
   }
   .content__footer{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      
}
 
   
}



@media (max-width: 900px) {


   .content__footer{
      display: flex;
      flex-direction: column;
      gap: 1rem;
     
   }

      .content__hero{
         display: grid;
         grid-template-columns: 1fr 1fr ;
         gap: 0;
      
       }
       .hero__img{
         grid-column: 2/3;
        
       }
   
       .hero__info{
         
         grid-row: 2/3;
         grid-column: 1/3;
         padding: 0 2rem;
        
         
       }

       .hero__info h2{
         font-size: 2.5rem;
         padding-top: 0;
         
       }
       .button__hero{
         padding: 0.8rem;
         width: 30%;
         font-weight: normal;
         font-size: 1rem;
         display: flex;
         justify-content: center;
       }
       .section__filter{
         display: flex;
         justify-content: center;
         align-items: center;
       }
       .container__filter{
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 2rem;

         
       }
       
}





